
h2 {
    text-align: center;
    font-size: 20px;
    color: white;
}

h1, h2.glory {
    color: black;
    text-align: center;
    font-size: 20px;
}

div.container {
    display: flex;
    flex-direction: column;
}

.mdl-js-button {
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
}

i.material-icons {
    color: white;
}

.demo-card-square.mdl-card {
  width: 350px;
  height: 350px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('https://pm1.narvii.com/6469/79020a8225038eb284db50e35b5e336a64f4cff0_128.jpg') bottom right 15% no-repeat #E9190F;
}

.logo {
    display: flex;
    justify-content: flex-end;
}

.image {
    display: flex;
    justify-content: center;
}

img {
    max-width: 100px;
    max-height: 100px;
}

img.pic {
     max-width: 50px;
     max-height: 50px;
     margin-right: 30px;
}


#loc {
    background-color: white;
}




div.topnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    width: 100%;
    border-radius: 10px ridge;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #000000;
}

a {
    text-decoration: none;
    color: #E00E0B;
}

body {
    margin: 0;
    width: 100%;
}

/*.mdl-js-data-table {
    border: 1px solid white;
    color: white;
    text-align: center;
}*/

div.container2 {
    background-color: black;
    height: 100%;
}


div.goals, div.best {
    background-color: black;
    margin-bottom: 20px;
}

.demo-list-three {
  width: 650px;
}

.mdl-data-table {
    border: 1px solid rgba(0,0,0,.12);
    border-collapse: collapse;
    text-align: center;
    white-space: nowrap;
    font-size: 13px;
    background-color: #000000;
    margin: 0 auto;
    width: 100%;
}

.mdl-data-table__cell--non-numeric {
    text-align: center;
    color: white;
    margin: 0 auto;
}

.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric {
    text-align: center;
}

.mdl-data-table th {
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: #fff;
    padding-bottom: 8px;
    box-sizing: border-box;

    }

.mdl-data-table td:hover {
    color: red;
}

 .row tr:hover {
    color: blue;
}


.table,
th,
td {
    border: 1px solid white;
    color: white;
    text-align: center;
}

div.titles {
    background-color: #E00E0B;
    min-height: 500px;
    max-width: 100%;
}

div.records {
    display: flex;
    background-color: #000000;
    border: 1px solid black;
    justify-content: space-between;
    flex-direction: column;
    flex-flow: column-wrap;
    font-weight: bold;
} 


#notifications {
    margin: 0 auto;
    display: none;
    width: 10%;
}

div.head,
div.league,
div.fa,
div.total,
div#record,
div#goal,
div#big {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 450px;
}

div.league,
div.fa,
div.total,
div#record,
div#caps,
div#goal,
div#big
         {
    color: white;
}

div.wins {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
    min-height: 700px;
}


div.prem,
div.cup {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 475px;
    min-height: 600px;
    border-radius: 10px;
    border: solid 1px black;
    overflow-y: scroll;
   
}

div.app,
div.goals,
div.best {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 30px;
    background-color: black;
}

div.best {
    margin-bottom: 50px;
}


div.years {
	margin-left: 25px;
}



[class="1908"],
[class="1911"],
[class="1952"],
[class="1956"],
[class="1957"],
[class="1965"],
[class="1967"],
[class="1993"],
[class="1994"],
[class="1996"],
[class="1997"],
[class="1999"],
[class="2000"],
[class="2001"],
[class="2003"],
[class="2007"],
[class="2008"],
[class="2009"],
[class="2011"],
[class="2013"],
[class="1909"],
[class="1948"],
[class="1963"],
[class="1977"],
[class="1983"],
[class="1985"],
[class="1990"],
[class="1992"],
[class="2004"],
[class="2006"],
[class="2010"],
[class="2016"],
[class="2017"] {
    display: flex;
    border: 1px solid #303847;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 300px;
    min-height: 50px;
    flex-shrink: 1;
    float: left;
    color: black;
}

div.moments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: blue;
    height: 100%;
    width: 100%;
    opacity: .9;
    padding: 5px;
}

div#plays {
    color: black;
}

div.frame {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-flow: row wrap;
    
}


iframe.ucl1 {
    display: flex;
    height: 300px;
    width: 500px;
    border: 3px solid black;
}

iframe.bike {
    display: flex;
    height: 300px;
    width: 500px;
    border: 3px solid black;
}

iframe.ucl2 {
    display: flex;
    height: 300px;
    width: 500px;
    margin-top: 10px;
    margin-right: 50px;
    border: 3px solid black;
}

iframe.becks {
    display: flex;
    height: 300px;
    width: 500px;
    margin-left: 50px;
    border: 3px solid black;
}

span {
    color: white;
}

span.mdl-list__item-text-body {
    margin-top: 7px;
    margin-right: 7px;
  
}

span#description{
    color: white;
}

h2.stars {
    color: black;
}




